*/Binaries
*/Intermediate
*/Saved
*/Build
*/DerivedDataCache

BuildingEscape1/Content/StarterContent/

*.VC.db

BuildingEscape1/.vs/BuildingEscape1/v15/Browse.VC.opendb
BuildingEscape1/.vs/BuildingEscape1/v15/ipch/AutoPCH/1bc4d4c900272286/BUILDINGESCAPE1.ipch
BuildingEscape1/.vs/BuildingEscape1/v15/
